fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1

# Pydantic sin Rust
pydantic[email]==1.10.13

requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1
tqdm==4.66.4

# ❌ QUITAMOS httpx

python-jose[cryptography]==3.3.0

# Supabase (ecosistema completo compatible entre sí)
supabase==1.2.0
